@page "/notes"
@using TinyMCE.Blazor
@using FilePocket.BlazorClient.Helpers
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]

<div>
    <FilesAndFolders PocketId="@_pocketId" FolderId="@_folderId" />
    <NotesEditor />
</div>
