@page "/notes"
@page "/pockets/{PocketId}/notes"
@page "/pockets/{PocketId}/folders/{FolderId}/notes"

@using FilePocket.BlazorClient.Helpers
@using Microsoft.AspNetCore.Authorization

@attribute [Authorize]

<div>
    <NotesAndFolders UserId="@_userId" PocketId="@_pocketId" FolderId="@_folderId" />
</div>
