@page "/pocket/new"
@inject NavigationManager Navigation;

<div class="container">
    <div class="container w-75 pt-3">
        <div class="row d-flex justify-content-end">
            <a href="/pockets" class="btn btn-outline-secondary" style="width:6em; margin-right:0.8em;">Go back</a>
        </div>

        <br />

        <div class="container border p-3">
            <div class="mb-3">
                <label for="pocketName" class="form-label fw-semibold">Pocket name:</label>
                <input type="email" @bind="_pocketName" @onblur="NameChanged" class="form-control" id="pocketName">
                @if (!_validName)
                {
                    <div class="text-danger">
                        Please provide a valid pocket name.
                    </div>
                }
            </div>
            <div class="d-flex justify-content-end">
                <button class="btn btn-success float-right" @onclick="CreatePocketAsync">Create</button>
            </div>
        </div>
    </div>
</div>
