@page "/pockets"
@inject NavigationManager Navigation;

<style>
    .validation-error {
        background-color: #ff8059;
        border: solid 1px;
    }
</style>

<div class="container">
    <div class="container w-75 pt-3">
        <div class="row mx-auto">
            <div class="col-10">
                <h4 class="text-header">My pockets</h4>
            </div>
            <div class="col-2 text-end">
                <a href="/pocket/new" class="btn btn-outline-success">New</a>
            </div>
        </div>
        <br />
        @if (_pockets is not null)
        {
            <table class="table table-light  mx-auto">
                <thead>
                    <tr>
                        <th scope="col" class="col-1">#</th>
                        <th scope="col" class="col-7">Name</th>
                        <th scope="col" class="col-4 text-center">Options</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        var i = 1;
                    }
                    @foreach (var pocket in _pockets)
                    {
                        <tr>
                            <th scope="row">@(i)</th>
                            <td>
                                <a class="link-offset-2 link-underline link-underline-opacity-0 link-dark" href="/pockets/{@pocket.Id}/files">
                                    @pocket.Name
                                </a>
                            </td>
                            <td class="text-center">

                                @if (pocket.Id != _pocketIdToBeChanged)
                                {
                                    <button class="btn btn-light me-1" title="Information" @onclick="() => ShowDetailsClicked(pocket)"><i class="bi bi-info-circle"></i></button>
                                    <button class="btn btn-light" title="Remove" @onclick="() => RemoveClicked(pocket)"><i class="bi bi-trash"></i></button>
                                }

                                @if (_removalProcessStarted && pocket.Id == _pocketIdToBeChanged)
                                {
                                    <button class="btn btn-light me-1 ms-1" title="Confirm" @onclick="ConfirmDeletionClicked"><i class="bi-check-square"></i></button>
                                    <button class="btn btn-light ms-1" title="Cancel" @onclick="CancelDeletionClicked"><i class="bi bi-x-square"></i></button>
                                }
                            </td>
                        </tr>
                        i++;
                    }
                </tbody>
            </table>
        }
    </div>
</div>
