@page "/pockets/{PocketIdParam}/files"

@using FilePocket.Client.Services.Helpers

<div class="container">
    <div class="container w-75 pt-3">
        <div class="row mx-auto">
            <div class="col-10">
                <h4 class="text-header">My files</h4>
            </div>
            <div class="col-2 text-end">
                <a href="/pockets" class="btn btn-outline-secondary" style="width:6em; margin-right:0.8em;">Go back</a>
            </div>
        </div>

        <br/>

        <table class="table table-light  mx-auto">
            <thead>
                <tr>
                    <th scope="col" class="col-1">#</th>
                    <th scope="col" class="col-4">Name</th>
                    <th scope="col" class="col-1">Type</th>
                    <th scope="col" class="col-1">Size</th>
                </tr>
            </thead>
            <tbody>
                @{
                    var i = 1;
                }
                @foreach (var file in _files)
                {
                    <tr>
                        <th scope="row">@(i)</th>
                        <td>
                            <a class="link-offset-2 link-underline link-underline-opacity-0 link-dark" href="/pockets/@file.StorageId/files/{@file.Id}">
                                @file.OriginalName
                            </a>
                        </td>
                        <td>
                            <i class="bi bi-card-image" title="@file.FileType"></i>
                        </td>
                        <td>
                            @Tools.FormatFileSize(file.FileSize)
                        </td>
                    </tr>
                    i++;
                }
            </tbody>
        </table>

    </div>
</div>

