@page "/pockets/{PocketId:guid}/bookmarks/new"
@page "/pockets/{PocketId:guid}/folders/{FolderId:guid}/bookmarks/new"

@using Microsoft.AspNetCore.Authorization
@using FilePocket.BlazorClient.Helpers
@attribute [Authorize]

<div class="container" style="min-height: 600px;">
    <div class="container-fluid w-100 w-md-75">

        <!-- Top SubMenu -->
        <TopSubMenu Title="New Bookmark" />

        <!-- Form Container -->
        <div class="border p-3 m-auto">
            <div class="col-12 col-md-9 col-lg-6 mx-auto">
                <label for="bookmarkTitle" class="form-label fw-semibold">Bookmark title:</label>
                <input type="text" @bind="_bookmarkTitle" @onblur="TitleChanged" class="form-control" id="bookmarkTitle">
                @if (!_validTitle)
                {
                    <div class="text-danger">
                        Please provide a valid bookmark title.
                    </div>
                }
                <label for="bookmarkUrl" class="form-label fw-semibold mt-3">Bookmark url:</label>
                <textarea @bind="_bookmarkUrl" @onblur="UrlChanged" class="form-control" id="bookmarkUrl" rows="2"></textarea>
                @if (!_validUrl)
                {
                    <div class="text-danger">
                        Please provide a valid bookmark url.
                    </div>
                }
                <!-- Submit Button -->
                <div class="d-flex justify-content-end mt-3">
                    <button class="btn btn-outline-success fw-semibold p-2 ps-5 pe-5" @onclick="CreateBookmarkAsync">Create</button>
                </div>
            </div>

        </div>
    </div>
</div>
