@page "/"
@using FilePocket.BlazorClient.Helpers

<AuthorizeView>
    <Authorized>
        @if (_areParametrsReady)
        {
            <div class="row text-center" style="align-self:center">
                <div class="col-sm-4">
                    <div class="progressbar">
                        <div class="second circle" data-percent="@_storageCapacity">
                            <strong></strong>
                            <span>Storage <br> capacity</span>
                        </div>
                    </div>
                </div>
            </div>
            <script src="./js/progressBar.js"></script>
            <script src="https://rawgit.com/kottenator/jquery-circle-progress/1.2.2/dist/circle-progress.js"></script>
        }
        else
        {
            <div class="row text-center" style="align-self:center">
                <div class="col-sm-4">
                    <div class="progressbar">
                        <div class="second circle" data-percent="0">
                            <strong></strong>
                            <span>Storage <br> capacity</span>
                        </div>
                    </div>
                </div>
            </div>
            <script src="./js/progressBar.js"></script>
            <script src="https://rawgit.com/kottenator/jquery-circle-progress/1.2.2/dist/circle-progress.js"></script>
        }

        <div class="container-fluid" style="min-height: 600px;">
            <div class="container-fluid w-100 w-md-75">
                <div class="d-flex justify-content-center align-items-center mt-0">
                    <img src="./assets/img/upload.png" class="me-2" style="width: 22px; height: 22px;" />
                    <h5 class="section-heading mb-0 text-header">Uploaded files</h5>
                </div>
                <hr />

                @if (_files?.Any() == true)
                {
                    <FilesBlock Files="_files" />
                }
                else
                {
                    <div class="text-center no-content">
                        <h6>You don't have any uploaded files yet.</h6>
                    </div>
                }

                <div class="d-flex justify-content-center align-items-center mt-4">
                    <img src="./assets/img/share.png" class="me-2" style="width: 22px; height: 22px;" />
                    <h5 class="section-heading mb-0 text-header">Shared files</h5>
                </div>
                <hr />

                @if (_sharedFiles?.Any() == true)
                {
                    <SharedFilesBlock SharedFiles="_sharedFiles" />
                }
                else
                {
                    <div class="text-center no-content">
                        <h6>You don't have any shared files yet.</h6>
                    </div>
                }
            </div>
        </div>
        <br />
        <br />
    </Authorized>
    <NotAuthorized>
        <SignInComponent />
    </NotAuthorized>
</AuthorizeView>