@page "/trash"

<div class="container-fluid" style="min-height: 600px;">
    <div class="container-fluid w-100 my-w-md-75">
        <TopSubMenu Title="Recycle Bin" ShowBackButton="@(false)" />

        <div style="margin-left: auto;">            
            @if (_clearTrashStarted)
            {
                <button class="btn btn-sm btn-outline-danger p-1 action-btn"
                        title="Confirm"
                        @onclick="ClearTrashClickAsync">
                    <i class="bi-check-square fs-6"></i> Confirm
                </button>
                <button class="btn btn-sm btn-outline-secondary p-1 action-btn"
                        title="Cancel"
                        @onclick="() => _clearTrashStarted = false">
                    <i class="bi bi-x-square fs-6"></i> Cancel
                </button>
            }
            else
            {
                <button class="btn btn-outline-danger p-1 action-btn"
                        @onclick="() => _clearTrashStarted = true">
                    <i class="bi bi-trash fs-6"></i> Clear bin
                </button>
            }
        </div>

        <div class="d-flex gap-lg-5 justify-content-center">
            <div class="link-card" @onclick="@(() => Navigate("/files/trash"))">
                <h5>Files</h5>
            </div>
            <div class="link-card" @onclick="@(() => Navigate("/bookmarks/trash"))">
                <h5>Bookmarks</h5>
            </div>
            <div class="link-card" @onclick="@(() => Navigate("/"))">
                <h5>Notes</h5>
            </div>
        </div>
    </div>
</div>
