@using System.Collections.ObjectModel
@using FilePocket.BlazorClient.Features.Folders.Models
@using FilePocket.BlazorClient.Helpers
@using FilePocket.BlazorClient.Shared.Enums

@if (Folders is not null && Folders.Any())
{
    <div class="row row-cols-1 row-cols-md-3 row-cols-lg-4 g-4 text-center justify-content-center">
        @foreach (var folder in Folders)
        {
            <div class="card shadow-sm me-2 pt-2" style="width: 8em;">
                @{
                    var url = Tools.GetFolderUrl(PocketId, folder.Id!.Value, folder.FolderType, IsSoftDeleted);
                }
                <a class="file-link text-decoration-none" title="@folder.Name" href="@url">
                    <img src="./assets/img/folder.png" width="64" class="d-block mx-auto mb-1" alt="Folder icon" />
                    <h6 class="card-title" style="font-size: 0.9em">@Tools.TruncateFileName(folder.Name)</h6>
                </a>
            </div>
        }
    </div>

    <hr class="mt-4 mb-4" />
}

@code {
    [Parameter]
    public ObservableCollection<FolderModel>? Folders { get; set; }

    [Parameter]
    public Guid? PocketId { get; set; }

    [Parameter]
    public bool IsSoftDeleted { get; set; }
}
