.title {
        font-size: 0.875rem;
}

.title a {
    line-height: 24px;
}

.controls-container button {
    border: 0;
    background-color: transparent;
    padding: 4px;
    width: 24px;
    height: 24px;
    line-height: 16px;
}

/* .controls-container button:hover {
    color: black;
}  */

.dialog-container {
    position: fixed;
    display: flex;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    align-content: stretch;
    background-color: rgba(50, 50, 50, 0.25);
}

.dialog {
    background-color: white;
    border-color: silver;
}

.noteStyle{
    background-image: url(../assets/img/note.png);
    background-position: center;
    background-size: cover;
    aspect-ratio: 9 / 9.5;
    max-width: 250px;
}