@page "/pockets/{PocketIdParam}/folders/{FolderIdParam}/{FolderType:int}/new"
@page "/pockets/{PocketIdParam}/folders/{FolderType:int}/new"
@page "/folders/{FolderIdParam}/{FolderType:int}/new"
@page "/folders/{FolderType:int}/new"

@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]

<div class="container-fluid" style="min-height: 600px;">
    <div class="container-fluid w-100 w-md-75 pt-3">

        <TopSubMenu Title="New Folder" />

        <!-- Form Container -->
        <div class="border p-3 mt-3">
            <div class="col-12 col-md-9 col-lg-6 mx-auto">
                <label for="folderName" class="form-label fw-semibold">Folder name:</label>
                <input type="text" @bind="_folderName" @onblur="NameChanged" class="form-control" id="folderName">

                @if (!_validName)
                {
                    <div class="text-danger">
                        Please provide a valid folder name.
                    </div>
                }

                <!-- Create Button -->
                <div class="d-flex justify-content-end mt-3">
                    <button class="btn btn-success" @onclick="CreateFolderAsync">Create</button>
                </div>
            </div>
        </div>
    </div>
</div>
