@page "/pockets"

@using FilePocket.Client.Helpers
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]

@inject NavigationManager Navigation;

<style>
    .validation-error {
        background-color: #ff8059;
        border: solid 1px;
    }

    @@media (max-width: 768px) {
        .my-table-responsive {
            overflow-x: auto;
        }

        .my-table th, .my-table td {
            padding: 0.5rem;
        }

        .my-dropdown-menu {
            position: static !important;
            transform: none !important;
        }

        .my-btn-outline-success {
            padding: 0.25rem 0.5rem;
        }

        .my-h6 {
            font-size: 1rem;
        }

        .my-fs-5 {
            font-size: 1.25rem;
        }

        .my-fs-4 {
            font-size: 1.5rem;
        }

        .my-w-md-75 {
            width: 100% !important;
        }
    }

    .card-container {
        display: flex;
        flex-wrap: wrap;
        gap: 1.5rem;
        justify-content: left; /* Center cards horizontally */
        padding: 1rem;
    }

    .my-card {
        width: 14rem; /* Slightly wider cards */
        box-sizing: border-box;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }

        .my-card:hover {
            transform: translateY(-5px);
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
        }

    .my-card-header {
        background-color: #165887;
        color: #ffffff;
        text-align: center;
        padding: 0.5rem;
    }

    .my-card-body {
        background-color: #ffffff;
        padding: 1rem;
    }

    .card-footer {
        border-top: 1px solid #f0f0f0;
        background-color: #ffffff;
        padding: 1rem;
    }

    @@media (max-width: 575.98px) {
        .card-footer .btn

    {
        width: auto; /* Убираем фиксированную ширину */
        padding: 0.25rem 0.5rem; /* Уменьшаем отступы */
    }

    }

    .my-btn {
        border-radius: 20px;
        transition: background-color 0.3s ease, color 0.3s ease;
    }

    .my-btn-outline-info:hover {
        background-color: #165887;
        color: #ffffff;
    }

    .my-btn-outline-danger:hover {
        background-color: #dc3545;
        color: #ffffff;
    }

    @@media (max-width: 768px) {
        .my-card {
            width: 90%; /* Wider cards on mobile */
            flex: 1 1 100%; /* Ensure cards take full width on mobile */
        }
    }

    @@media (max-width: 480px) {
        .my-card {
            width: 100%; /* Full width on very small screens */
        }
    }
</style>

<div class="container-fluid" style="min-height: 600px;">
    <div class="container-fluid w-100 my-w-md-75">

        <!-- Top SubMenu -->
        <TopSubMenu Title="My pockets" ShowBackButton="false" />

        @if (_pockets.Any())
        {
            <!-- Action Button Row -->
            <div class="row mx-auto">
                <div class="col-12 d-flex align-items-center mb-3">
                    <!-- New Pocket Button -->
                    <div>
                        <a href="/pockets/new" class="btn btn-lg btn-outline-success p-1">
                            <i class="ps-2 pe-2 bi bi-bag-plus my-fs-4"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="card-container">
                @foreach (var pocket in _pockets)
                {
                    <div class="my-card mb-3 shadow"
                         style="background-color: #ffffff; cursor: pointer; border: none; border-radius: 0.8em; overflow: hidden; transition: transform 0.3s ease, box-shadow 0.3s ease;">

                        <!-- Заголовок карточки -->
                        <div @onclick="() => GoToPocket(pocket.Id)"
                             class="my-card-header"
                             style="background-color: #165887; color: #ffffff; text-align: center;">
                            <div class="fw-bold mt-0 d-flex align-items-center justify-content-center" style="font-size: 1.2em;">
                                <i class="fs-4 bi-archive"></i> <!-- Иконка -->
                                <span class="ms-2">@pocket.Name</span> <!-- Название -->
                            </div>
                        </div>

                        <!-- Тело карточки -->
                        <div @onclick="() => GoToPocket(pocket.Id)"
                             class="my-card-body p-3"
                             style="background-color: #ffffff;">
                            <p class="mb-2 d-flex align-items-center">
                                <i class="bi bi-file-earmark-text me-2" style="color: #2c638f; font-size: 1.2em;"></i>
                                <strong style="color: #333;">Files:</strong>
                                <span style="color: #555; margin-left: 0.5em;">@GetNumberOfFiles(pocket.NumberOfFiles)</span>
                            </p>
                            <p class="mb-0 d-flex align-items-center">
                                <i class="bi bi-hdd me-2" style="color: #2c638f; font-size: 1.2em;"></i>
                                <strong style="color: #333;">Size:</strong>
                                <span style="color: #555; margin-left: 0.5em;">@Tools.FormatFileSize(pocket.TotalSize)</span>
                            </p>
                        </div>

                        <!-- Футер карточки -->
                        <div class="card-footer text-center p-3"
                             style="border-top: 1px solid #f0f0f0; background-color: #ffffff;">

                            @if (pocket.Id != _pocketIdToBeChanged)
                            {
                                <div class="d-flex justify-content-center gap-2">
                                    <a class="btn btn-outline-primary btn-sm"
                                       style="width: 6em; border-radius: 10px;"
                                       @onclick="() => ShowDetailsClicked(pocket)">
                                        <i class="bi bi-info-circle me-1"></i> Info
                                    </a>
                                    <a class="btn btn-outline-danger btn-sm"
                                       style="width: 6em; border-radius: 10px;"
                                       @onclick="() => RemoveClicked(pocket)">
                                        <i class="bi bi-trash me-1"></i> Delete
                                    </a>
                                </div>
                            }
                           
                            @if (_removalProcessStarted && pocket.Id == _pocketIdToBeChanged)
                            {
                                <div class="d-flex justify-content-center gap-2">
                                    <button class="btn btn-sm btn-warning me-2"
                                            style="border-radius: 10px;"
                                            title="Confirm"
                                            @onclick="ConfirmDeletionClicked">
                                        <i class="bi-check-square me-1"></i> Confirm
                                    </button>
                                    <button class="btn btn-sm"
                                            style="border-radius: 10px;"
                                            title="Cancel"
                                            @onclick="CancelDeletionClicked">
                                        <i class="bi bi-x-square me-1"></i> Cancel
                                    </button>
                                </div>
                            }
                        </div>
                    </div>
                }
            </div>
        }
        else
        {
            if (!_loading)
            {
                <div class="mx-auto w-100 text-center fw-semibold mt-4">
                    <img src="./assets/img/oops.png" width="100" class="mb-3 opacity-75">

                    <div class="text-center no-content">
                        <h6>Looks like you do not have any pockets yet. <br /> Let's create the first one.</h6>
                    </div>

                    <a href="/pockets/new" class="btn btn-outline-success fw-semibold p-2 ps-5 pe-5 mt-3">Create</a>
                </div>
            }
            else
            {
                <!-- Loading Spinner -->
                <div class="container-fluid w-100 h-100 text-center p-4 d-flex justify-content-center align-items-center">
                    <div class="spinner-grow" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>
            }
        }
    </div>
</div>