/* Signing In User Icon & Dialog*/
.icon-btn-container {
    width: 38px;
    height: 38px;
    position: relative;
}


.icon {
    background-color: #407093;
    color: white;
    font-weight: bold;
    border: 0px solid;
    border-radius: 50%;
}

.icon-btn {
    width: 42px;
    height: 42px;
    top: -2px;
    right: -2px;
    font-size: 1.125rem;
    position: absolute;
}

    .icon-btn:hover {
        background-color: #335D7C;
    }

.user-info-dialog {
    position: absolute;
    bottom: -260px;
    right: -1px;
    z-index: 8;
}

    .user-info-dialog > .card {
        width: 15rem;
        height: 260px;
        background-color: white;
    }

    .user-info-dialog .card-img-top {
        position: relative;
    }

.profile-icon {
    width: 4rem;
    height: 4rem;
    margin: 0.75rem auto;
    line-height: 4rem;
    font-size: 2rem;
}

.card-img-top.top {
    background-color: #F2F2F2;
    text-align: center;
    padding: 0.5rem 0;
    position: relative;
}

.top > .btn-close {
    position: absolute;
    right: 0.75rem;
}

.card-img-top.top > span {
    font-size: 0.75rem;
}

.card-img-top.top .card-title {
    font-weight: bold;
}

.card-body div {
    text-align: center;
}

/* Custom styles for mobile optimization */
@media (max-width: 768px) {

    .user-info-dialog {
        right: calc(50% - 7.5rem);
    }

    .controls-container{
        width: calc(50% + 19px);
        display: flex;
        justify-content:space-between;
    }
}
@media (max-width: 400px){
    .controls-container {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
}

/*@media (max-width: 308px) {

    .user-info-dialog {
        top: calc(50vh - 7.5rem);
    }
}*/

@media (min-width: 769px) {
    .narrow-display {
        display: none;
    }
}

.fade-in {
    animation: fadeIn 0.25s ease-in forwards; /* Use keyframes to control opacity */
}

@keyframes fadeIn {
    from {
        opacity: 0; /* Start fully transparent */
    }

    to {
        opacity: 1; /* End fully visible */
    }
}
